<template lang="pug">

.simon
  .simon__title SIMON

  .simon__game
    .simon__buttons
      .simon__button(
        v-for="index in [0, 1, 2, 3]" :key="index"
        :class="{'active': index === activeButton}"
        :disabled="isGameOver || isGameOrder"
        @click="onActionClick(index)"
      )

    .simon__configs
      span.simon__round Раунд {{ roundNum }}

      select(
        v-model="difficulty"
      ).simon__difficulty
        option(
          v-for="item in difficultyList" :key="item.value"
          :value="item.value"
        ) {{ item.title }}

      button(
        @click="onGameStartClick"
      ).simon__start-button Старт

      span.simon__order(v-if="isGameOrder") Слушайте
      span.simon__order(v-else) Нажимайте
      span(v-if="isGameOver").simon__message Вы проиграли на раунде {{ roundNum }}
</template>

<script>

const difficultyList = [
  { title: 'Легко', value: 1500 },
  { title: 'Средне', value: 1000 },
  { title: 'Сложно', value: 400 }
]

export default {
  name: 'App',

  data: () => ({
    difficulty: 1000,
    difficultyList,
    activeButton: -1,
    queue: [],
    userQueue: [],
    isGameOrder: true,
    roundNum: 0,
    isGameOver: false
  }),

  methods: {
    /**
     * Начало игры
     * Нажатие на кнопку "Старт"
     */
    onGameStartClick() {
      this.queue = []
      this.roundNum = 0
      this.isGameOver = false
      this.isGameOrder = true

      this.roundStart(this.roundNum)
    },

    /**
     * Начало раунда
     * Запускается рекурсивное воспроизвдение звуков
     */
    roundStart() {
      const that = this

      setTimeout(() => {
        that.roundNum += 1
        that.userQueue = []
        that.isGameOrder = true
        that.pushToQueue()
        that.playRound(0)
      }, 600)
    },

    /**
     * Проигрывание звука + подсветка кнопок
     * @param iteration {Number} - номер элемента в массиве
     */
    playRound(iteration) {
      const that = this
      setTimeout(() => {
        this.highlightButton(that.queue[iteration])
        this.playSound(that.queue[iteration])

        if (iteration !== that.queue.length) {
          that.playRound(iteration + 1)
        } else {
          that.isGameOrder = false
        }
      }, this.difficulty)
    },

    /**
     * Запись нажатий пользователя
     * Проверка на правильность ввода
     * @param buttonIndex {Number} - номер кнопки от 0 до 3
     */
    onActionClick(buttonIndex) {
      if (this.isGameOver || this.isGameOrder) return

      this.highlightButton(buttonIndex)
      this.playSound(buttonIndex)
      this.userQueue.push(buttonIndex)

      for (let i = 0; i < this.userQueue.length; i++) {
        if (this.userQueue[i] !== this.queue[i]) {
          this.endGame()
          return
        }
      }

      if (this.userQueue.length === this.queue.length) {
        this.roundStart()
      }
    },

    /**
     * Подсветка клавиши
     * @param buttonIndex {Number} - номер кнопки от 0 до 3
     */
    highlightButton(buttonIndex) {
      this.activeButton = buttonIndex
      const that = this
      setTimeout(() => { that.activeButton = -1 }, 200)
    },

    /**
     * Проигрывание звука
     * @param buttonIndex - номер кнопки(и звука) от 0 до 3
     */
    playSound(buttonIndex) {
      (new Audio(`sounds/${buttonIndex}.mp3`)).play()
    },

    /**
     * Добавление в очередь случайного числа от 0 до 3
     */
    pushToQueue() {
      this.queue.push(Math.floor((Math.random() * 4)))
    },

    /**
     * Окончание игры
     */
    endGame() {
      this.isGameOver = true
    }
  }
}
</script>

<style lang="sass">
@import "assets/sass/App"
</style>
