body
  display: flex
  justify-content: center


.simon
  width: 650px


  &__title
    font-size: 72px
    text-align: center


  &__game
    display: flex


  &__buttons
    border: 2px solid #f1f1f1
    border-radius: 50%
    display: flex
    flex-wrap: wrap
    height: 400px
    margin-right: 32px
    overflow: hidden
    width: 400px


  &__button
    cursor: pointer
    height: 200px
    opacity: 0.5
    width: 200px

    &:hover
      opacity: 0.55

    &.active
      opacity: 1

    &:nth-child(1)
      background-color: #00fff3

    &:nth-child(2)
      background-color: #5600ff

    &:nth-child(3)
      background-color: #ffcb0b

    &:nth-child(4)
      background-color: #ff718c


  &__configs
    display: flex
    flex-direction: column
    justify-content: center
    width: 200px


  =paddings()
    padding: 8px 16px

  &__difficulty
    margin-bottom: 20px
    +paddings

  &__start-button
    +paddings

  &__message
    color: red
